# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dist
.githubtoken
release.sh
ergo.rb

hack/deb/*.deb
manifests/bin/*-linux-amd64
manifests/bin/*-linux-arm64
internal/static/*/zz_generated*.go
manifests/bin/.upxdone
completions
manpages

