# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dist
.githubtoken
release.sh
ergo.rb

hack/deb/*.deb
hack/bin/*-linux-amd64
hack/bin/*-linux-arm64
internal/staticbin/zz_generated*.go
internal/staticsh/zz_generated*.go
hack/bin/.upxdone
